.App {
  text-align: center;
}
.container {
  margin: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1 {
  font-family: "Quintessential", cursive;
  font-size: 50px;
  font-weight: bolder;
  color: rgb(179, 137, 221);
  margin-top: 80px;
}
