.App {
  text-align: center;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.App-header {
  background-color: rgb(187, 156, 129);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1 {
  font-family: "Quintessential", cursive;
  font-size: 50px;
  font-weight: bolder;

  margin-top: 80px;
}
